<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.lb.meubeats">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".core.MeuBeatsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_headset"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeuBeats">
        <activity
            android:name="io.lb.meubeats.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.lb.meubeats.ui.main.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="io.lb.meubeats.ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MeuBeat.NoActionBar">
        </activity>
        <activity
            android:name="io.lb.meubeats.ui.headset.HeadsetDetailsActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>